*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

img {
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

textarea {
  resize: vertical;
  overflow: auto;
}

button,
input,
textarea,
input,
select {
  display: block;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  color: inherit;
}

[hidden] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
  display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
  -webkit-user-drag: element;
}
